{% load static %}
<html>
<head>
		<title>Read details(db)</title>
    <meta charset="UTF-8">
   
    {% load static %}
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	

</head>
<body>
	<nav class="navbar navbar">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Farmer's Portal</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class=""><a href="http://localhost:8000/site/">Product Details</a></li>
                <li class=""><a href="http://localhost:8000/customer/">E-Commerce</a></li>
            </ul>
        </div>

    </div>
</nav>
<br>
<br>
	{% if view_detail %}
	<ol>
	{% for u in view_detail %}
	<li>Crop : {{u.crop}} Quantity: {{u.quantity}} status: {{u.status}} date of entry: {{u.date_of_entry}}</li>
	{% endfor %}
	<ol>
	{% endif %}
	<a class="btn btn-danger" href="{% url 'logout' %}">LOG OUT</button>
</body>
</html>